body{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color:#f4f4f4;
}



.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.button_1{
	align-self: center;
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  
}

.quotation button_1{
    display:block;
    width:100%;
  }

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.dark h3{
	text-align: center;
}

#portfolio h2{
	margin-top: 60px;
}

header{
	background-color: #004EF1;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	position: sticky;
	top: 0px;
	/*border-bottom: red 3px solid;*/

}

header a{
	color: #ffffff;
	text-decoration: none;

	text-transform: uppercase;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;

}

header #branding h1{
	margin:0;
}

header nav {
	float: right;
	margin-top: 10px;
	position: sticky;
	top: 20px;
	
}


header .highlight, header .current a{
	color: #f1f1f1;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/
#showcase{
/*	min-height: 400px;
*/	background:url('https://qph.fs.quoracdn.net/main-qimg-089c6f85929620dfab10728afb9fe828') no-repeat 0 -400px;
	text-align: center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size: 55px;
	margin-bottom: 10px;
	}

#showcase p{
	font-size:20px;
}

#boxes{
	margin-top: 40px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 22%;
	padding: 5px;
}

/*sidebar*/

#quotation{
	/*float: auto;*/
	float: middle;
	padding: 100px;
	width: 50%;
	margin-top: 60px;
	margin-bottom: 60px;
}

#quotation .contact input, #sidebar #quotation textarea{
  width:90%;
  padding:5px;
}

form input[type="email"], #quotation input, #quotation textarea{
    width:100%;
    margin-bottom:10px;
  }


/*main col article*/

article#main-col{
	float: left;
	width: 65%;
}

/*Services*/

ul#services  li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

/*header portfolio images*/

.portfolio-p{
	text-align: center;
	margin-bottom: 70px;
}

.blog-post-items{

font-size: 16px;
line-height: 1.5em;
color: #000;
font-family: 'Work Sans',sans-serif;
font-weight: 400;
box-sizing: border-box;
position: relative;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-inline-end: 13px;
margin-block-end: 13px;
min-height: 250px;
box-shadow: 0 28px 50px 0 rgba(11,49,61,.4);
-webkit-transition: all ease-in-out .5s;
max-width: 25%;
flex: 0 0 25%;
background-image: url("https://www.andplus.com/hubfs/DSC00874.jpg");
}


footer{
	padding: 20px;
	margin-top: 20px;
	/*color:#ffffff;*/
	/*background-color: #e8491d;*/
	text-align: center;

}

